[<div class="content-header"> 
<div class="container-fluid"> 
<div class="row mb-2"> 
<div class="col-sm-6"> 
<h1 class="m-0 text-dark">Settings</h1>
</div> 
</div> 
</div> 
</div> 
<section class="content"> 
<div class="container-fluid"> 
<div class="row"> 
<div class="col-lg-12"> 
<div class="card">
<%= form_with(model: @user, url: my_update_password_path, id: 'edit_user_password', html: {class: 'form-horizontal'}) do |f| %> 
<div class="card-header"> 
<h3 class="card-title"> Update Password </h3> 
</div> 
<div class="card-body"> 
<% if @user.errors.any? %> 
<div class="alert alert-error alert-block alert-fixed"> 
<h4> 
<%= "#{pluralize(@user.errors.count, 'error')}" %> 
</h4> 
<%= @user.errors.full_messages.map{|msg| content_tag(:li, msg)}.join %> 
</div> 
<% end %> 
<div class="form-group"> 
<%= f.label :password, class: 'control-label col-lg-2' %> 
<div class="col-lg-10"> 
<%= f.password_field :password, {placeholder: "Enter Password", autofocus: true, class: "form-control"} %> 
</div> 
</div> 
<div class="form-group"> 
<%= f.label :password_confirmation, class: 'control-label col-lg-2' %> 
<div class="col-lg-10"> 
<%= f.password_field :password_confirmation, {placeholder: "Retype Password", class: "form-control"} %> 
</div> 
</div> 
</div> 
<div class="card-footer" style="height: 55px;"> 
<span class="pull-right"> 
<%= f.submit "Update Password", class: "btn btn-primary" %> 
</span> 
</div> 
<% end %> 
</div> 
</div> 
</div> 
</div>
 </section>
